@tailwind base;
@tailwind components;
@tailwind utilities;


.FORM::before 
{
  content: '';
  position: absolute;
  width: 800px;
  height: 800px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #0dff00
  );
  animation: rotate 8s linear infinite;
  z-index: -1;
}

.FORM::after 
{
  content: '';
  position: absolute;
  width: 800px;
  height: 800px;
  top: 0%;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #02882e
  );
  animation: rotate 8s linear infinite;
  animation-delay: 1s;
  z-index: -1;

}

@keyframes rotate {
  0% 
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}